PipesAndFilters/nbproject/private/
PipesAndFilters/nbproject/project.properties
PipesAndFilters/build.xml
PipesAndFilters/dist/
PipesAndFilters/build/
PipesAndFilters/.gitignore
PipesAndFilters/nbproject/build-impl.xml

Presentation/nbproject/private/
Presentation/nbproject/private/private.properties
Presentation/dist/
Presentation/build/
Presentation/.gitignore
Presentation/nbproject/build-impl.xml

RmiClient/nbproject/private/
RmiClient/nbproject/private/private.properties
RmiClient/dist/
RmiClient/build/
RmiClient/.gitignore
RmiClient/nbproject/build-impl.xml

Security/nbproject/private/
Security/nbproject/private/private.properties/
Security/dist/
Security/build/
Security/.gitignore
Security/nbproject/build-impl.xml

Presentation/nbproject/private/private.properties

Presentation/nbproject/private/private.xml

RmiClient/nbproject/private/private.properties

RmiClient/nbproject/private/private.xml

Security/nbproject/private/private.properties

*.class
# Package Files #
*.jar
*.war
*.ear

/CorbaServer/nbproject/private/
/CorbaClient/nbproject/private/
/Server/nbproject/private/
CorbaServer/build/classes/.netbeans_automatic_build

CorbaServer/build/classes/.netbeans_update_resources

CorbaServer/build/classes/matchresult.idl

CorbaServer/dist/README.TXT

Server/build/classes/.netbeans_automatic_build

Server/build/classes/.netbeans_update_resources

Server/dist/README.TXT
/CorbaServer/build/
/Server/build/
/PresentationAdapter/dist/
/PresentationAdapter/build/
/CorbaClient/dist/
/CorbaClient/build/
/Contract/build/
/Contract/dist/
Contract/nbproject/private/config.properties

PresentationAdapter/nbproject/private/private.xml

PresentationService/nbproject/private/private.xml

RMITest/nbproject/private/private.xml

JavaMessagingSender/nbproject/private/private.properties

JavaMessagingClient/nbproject/private/private.properties
