<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://194.6.190.11:8080/SportClubManagement</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">stella58nera</property>
    <property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property>
    <mapping class="domain.classes.Address"/>
    <mapping class="domain.classes.ClubTeam"/>
    <mapping class="domain.classes.Competition"/>
    <mapping class="domain.classes.Country"/>
    <mapping class="domain.classes.Department"/>
    <mapping class="domain.classes.DepartmentHead"/>
    <mapping class="domain.classes.League"/>
    <mapping class="domain.classes.Match"/>
    <mapping class="domain.classes.Matchresult"/>
    <mapping class="domain.classes.Member"/>
    <mapping class="domain.classes.Permission"/>
    <mapping class="domain.classes.Player"/>
    <mapping class="domain.classes.Role"/>
    <mapping class="domain.classes.Team"/>
    <mapping class="domain.classes.Trainer"/>
    <mapping class="domain.classes.TypeOfSport"/>
  </session-factory>
</hibernate-configuration>
